.button {
    font: inherit;
    border: 1px solid #3b0062;
    color: #3b0062;
    background: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    background: #3b0062;
    color: white;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
  }
  .form {
    width: 90%;
    margin: auto;
    padding: 1rem;
    border: 1px solid #3b0062;
    border-radius: 5px;
  }

  @media (min-width: 768px) {
    .form {
      width: 40rem;
    }
  }
  
  .input {
    margin: 1rem 0;
    width: 100%;
  }
  
  .input label {
    display: block;
    text-transform: uppercase;
    margin-bottom: 0.25rem;
  }
  
  .input input {
    display: block;
    font: inherit;
    padding: 0.25rem 0.5rem;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  .button:focus {
    outline: none;
  }
  
  .button:disabled {
    background: #ccc;
    color: #888888;
    cursor: not-allowed;
    border: #ccc;
    box-shadow: none;
  }
  
  .button:disabled:hover,
  .button:disabled:active {
    background: #ccc;
    color: #888888;
    border: #ccc;
  }
  
  .button:hover,
  .button:active {
    background: #3b0062;
    color: white;
  }
  
